.shopTitle {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
  }
  .books {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
   .book {
    border-radius: 5px;
    width: 300px;
    height: 400px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  .book img {
    width: 250px;
    height: 350px;
  }
  
  .book .description {
    text-align: center;
  }
  

  .addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(232, 10, 10);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBtn:hover {
    background-color: rgb(232,10,10);
    color: white;
    cursor: pointer;
  }