.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(230, 20, 20);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    font-size: 20px;
  }
  
  .links a {
    font-style: italic;
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 30px;
  }